<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>
        <!-- 配置连接数据库的基本信息 -->
        <!-- 1、数据源需配置到IOC容器中，所以在此处不用再配置数据源 -->
       <!-- 配置连接MySQL数据库的基本参数 -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ins?serverTimezone=Asia/Shanghai</property>
		<property name="hibernate.connection.username">instemp</property>
		<property name="hibernate.connection.password">temp12123.21temp</property>



        <!-- 配置hibernate的基本信息 -->
	<!-- 配置Hibernate的方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- 下面两个是可选的配置哟！-->
		<!-- 打印sql语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 格式化sql语句 -->
		<property name="hibernate.format_sql">true</property> 
		<property name="jdbc.use_scrollable_resultset">false</property>
		
		
		

        <!-- 指定关联的 hbm.xml文件 -->
        <!-- 2、关联hbm.xml也在IOC容器中配置SessionFactory实例的时候再进行配置 -->
		<mapping resource="com/naaisi/nursesite/patient/domain/Patient.hbm.xml"/>
		<mapping resource="com/naaisi/nursesite/docadvice/domain/DocAdvice.hbm.xml"/>
		<mapping resource="com/naaisi/nursesite/injection/domain/Injection.hbm.xml"/>
		<mapping resource="com/naaisi/nursesite/eat/domain/Eat.hbm.xml"/>
		<mapping resource="com/naaisi/nursesite/blood/domain/Blood.hbm.xml"/>
		<mapping resource="com/naaisi/nursesite/skintest/domain/SkinTest.hbm.xml"/>
        <mapping resource="com/naaisi/nursesite/nurse/domain/Nurse.hbm.xml"/>
        <mapping resource="com/naaisi/nursesite/doctor/domain/Doctor.hbm.xml"/>
        <mapping resource="com/naaisi/nursesite/notification/domain/Notification.hbm.xml"/>
        <mapping resource="com/naaisi/nursesite/memo/domain/Memo.hbm.xml"/>
        <mapping resource="com/naaisi/nursesite/bunk/domain/Bunk.hbm.xml"/>
        <mapping resource="com/naaisi/nursesite/temperature/domain/Temperature.hbm.xml"/>
        <mapping resource="com/naaisi/nursesite/password/domain/PassWord.hbm.xml"/>
          
        
    </session-factory>
</hibernate-configuration>